* { margin:0; padding:0; }
body { font-family:'helvetica neue',helvetica,arial,sans-serif; background-color:#fff; color:#333; }
body,p,li,td { font-size:13px; }
p, ul, ol, table { margin:13px 0 20px 0; line-height:1.5; }
hr { border:none; height:1px; background-color:#ddd; }
img { border:none; vertical-align:bottom; }
ul, ol { padding-left:1.618em; }

a { text-decoration:none; border-bottom:1px solid #ddd; }
a:link, a:active { color:#316d96; border-bottom-color:#d9ebf8; }
a:visited { color:#7e5494; border-bottom-color:#f1ddfb; }
a:link:hover, a:active:hover { color:#006be4; background:#e2f4ff; border-bottom-color:#c7e4f7; }
a:visited:hover { color:#af00cf; background:#f4e6ff; border-bottom-color:#e5cbf0; }
a > img { margin-bottom:-1px; } /* hide the bottom border implied by the "a" tag */

h1, h2, h3, h4 { color:#000;  }
h1 a, h2 a, h3 a, h4 a { border:none; }
h1 a:link, h2 a:link, h3 a:link, h4 a:link, 
	h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited { color:inherit; }
h1 { font-size:26px; }
h2 { font-size:19px; }

/* Universal helpers */
.highlight { background-color:#fffe95; color:#302400; }
.breaker { clear:both; }
.badge {
	display:inline-block;
	padding:1px 4px;
	line-height:13px;
	font-family:'lucida grande',tahoma,sans-serif; 
	font-size:9px;
	background-color:#ddd;
	border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px;
}
.badge.button {
	font-size:11px;
	line-height:14px;
	background-color:#999;
	color:#fff;
	border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px;
	border:none;
}
.badge.button:hover { background-color:#333; color:#fff; }

/* Tables */
table { border-collapse:collapse; }
	table td { vertical-align:top; }
	table th, table td { border-bottom:1px solid #ccc; padding:1px 7px; }
	table th.type-number, table td.type-number { text-align:right; }
	table th { border-bottom:3px solid #ccc; }
	/*table th:first-child, #content table td:first-child { padding-left:0; }
	table th:last-child, #content table td:last-child { padding-right:0; }*/

/* Top bar */
#head { background-color:#333; }
	#head a { border:none; }
	#head h1 { font-size:14px; color:#fff; }
	#head h1 a { padding:0 10px; display:inline-block; line-height:36px; }
	#head h1 a span.note { color:#999; font-weight:normal; }
	#head h1 a:link { color:#fff; }
	#head div.user { font-size:11px; float:right; line-height:36px;
		font-family:'lucida grande',tahoma,sans-serif; color:#999;
		margin-right:10px;
	}
	#head div.user a:link, #head div.user a:visited { color:#999; padding:4px; }
	#head div.user a:link:hover, #head div.user a:visited:hover { color:#fff; background:#222; }

/* Left column menu */
#menu { float:left; border-right:1px solid #ccc; }
	#menu ul { list-style:none; padding:0; margin:0; }
	#menu li {
		font-family:'helvetica neue',helvetica,arial,sans-serif;
		font-size:13px;
	}
	#menu li a { display:block; padding:2px 10px 1px 10px; border-bottom-color:#eee; }
	#menu.disabled a span.title { color:#999; }
	#menu > ul > li > a { font-weight:bold; padding-top:10px; }
	#menu > ul > li > ul > li > a { padding-left:20px; }
	#menu > ul > li > ul > li > ul > li > a { padding-left:30px; }
	#menu > ul > li > ul > li > ul > li > ul > li > a { padding-left:40px; }
	#menu > ul > li > ul > li > ul > li > ul > li > ul > li > a { padding-left:50px; }
	#menu a span.title { color:#333; }
	#menu li.todo span.title { color:#ccc; }
	#menu a span.accesskey-hint { display:inline-block; float:right; color:#bbb; 
		font-weight:normal; letter-spacing:2px; margin-left:10px; margin-right:-4px;
	}
	#menu a:link:hover { border-bottom-color:#c7e4f7; }
	#menu a:visited:hover { border-bottom-color:#e5cbf0; }
	#menu a:link:hover span { color:#006be4; }
	#menu a:visited:hover span { color:#af00cf; }
	#menu li a:focus { background:#9ec5ff; outline:none; border-bottom-color:#82adec; }
	#menu li a:focus span { color:#000; }
	#menu li.selected > a { background:#4a88e4; color:#fff; text-shadow:#3a75cd 0 -1px 0; }
	#menu li.selected > a, #menu li.selected > a:hover { border-bottom-color:#3a75cd; }
		#menu li.selected > a span, #menu li.selected > a:hover span { color:#fff; }

/* Main content container */
#content { background-color:#fff; float:left; }
	#content h2 { margin:15px 0 10px 0; font-size:24px; }
	#content h2:first-child { margin-top:0; }
#content.margins { padding:20px; margin-bottom:1px; }
#content.form {
	width:600px; border-left:1px solid #ccc; 
	border-right:1px solid #ccc; margin-left:-1px;
}
	div.section { border-bottom:1px solid #ccc; clear:both; }
	div.component { float:left; padding:10px; }
		div.component p, div.component label, div.component > h4 {
			font-size:11px;
			font-family:'lucida grande',tahoma,sans-serif;
		}
		div.component > h4 {
			font-weight:normal;
			color:#777;
			margin-bottom:4px;
		}
		div.component > h4 small { float:right; }
		div.component > p { margin:0; }
		div.component label.inline { display:inline-block; margin-right:10px; }
	div.component.c2 { width:280px; }
		div.component.c2 input[type=text] { width:276px; }
	div.component.c2a { width:380px; }
		div.component.c2a input[type=text] { width:376px; }
	div.component.c3 { width:180px; }
		div.component.c3 input[type=text] { width:176px; }
	div.component.controls { width:280px; text-align:right; }
		div.component.controls input {
			border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px;
			background-color:#bbb; color:#111; padding:0 8px;
			line-height:19px; font-family:'lucida grande',tahoma,sans-serif; font-size:11px;
			border:none; border:1px solid #999;
			text-shadow:#eee 0 1px 0;
		}
		div.component.controls input.commit { background-color:#3cd375; text-shadow:#77fca9 0 1px 0; border-color:#1fa853; }
		div.component.controls input.commit:active { background-color:#222; }
		div.component.controls input:hover { border-color:#000; }
		div.component.controls input:focus { 
			background-color:#4a88e4; border-color:#3672cc; text-shadow:#3672cc 0 -1px 0; color:#fff;
		}
		div.component.controls input:active { background-color:#222; border-color:#000; text-shadow:#000 0 -1px 0; }
		div.component.controls input.disabled { background-color:#ddd; border-color:#ccc; text-shadow:none; color:#888; }
	div.component.body { padding:0; }
	div.component.body textarea { width:580px; height:200px; border:none; padding:10px;
		font-family:monospace; font-size:13px; resize:auto; display:block;
	}
	div.component.commits ol { list-style:none; padding:0; margin:0; }
	
	/* manage/*: */
	#content.manage.items {
		width:700px; border-left:1px solid #ccc; 
		border-right:1px solid #ccc; margin-left:-1px;
	}
		#content.manage.items h2 { padding:10px 10px; margin:0; font-size:16px; border-bottom:1px solid #ccc; }
		#content.manage.items div.paged-nav { margin:10px; text-align:center; }
	table.items { width:700px; margin:0; }
	table.items td.date { white-space:nowrap; }
	table.items a { border:none; }
	table.items td div.actions { display:inline-block; float:right; }
	
	/* manage/posts: */
	div.manage-posts div.head { border-bottom:1px solid #ccc; }
		div.manage-posts div.head h2 { display:inline-block; border-bottom:none !important; }
		div.manage-posts div.options { display:inline-block; float:right; margin:10px 10px 0 0; color:#666; }
		div.manage-posts div.options.filter-flags label {
			display:inline-block;
			margin-left:2px;
			padding:1px 4px;
			line-height:18px;
			font-family:'lucida grande',tahoma,sans-serif; 
			font-size:11px;
			color:#111;
			border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px;
		}
	
	table.posts {  }
		table.posts tr td.name { overflow:hidden; text-overflow:ellipsis; max-width:500px; white-space:nowrap; }
			table.posts tr td.name span.title { color:#111; }
			table.posts tr.m td.name span.title { font-weight:bold; }
			table.posts td.name span.excerpt { color:#bbb; }
		table.posts * { cursor:pointer; }
		/*table.posts tr.parent td { border-bottom:none; }*/
		table.posts tr.child td:first-child { padding-left:20px; }
		table.posts tr.child td {
			padding-top:2px;
			background-image:url(arrow-deco-up.png); background-repeat:repeat-x;
		}
		/* tracked + modified */
		table.posts tr.m td { background-color:#fffb91; }
		table.posts tr.m:hover td { background-color:#fef059; }
		table.posts tr.m td.name span.excerpt { color:#c2af56; }
		div.manage-posts div.options.filter-flags label.m { background-color:#fffb91; }
		div.manage-posts div.options.filter-flags label.m:hover { background-color:#fef059; }
		/* tracked + scheduled */
		table.posts tr.s td { background-color:#cfd; }
		table.posts tr.s td span.scheduled {
			background-image:url(scheduled.png);
			background-repeat:no-repeat;
			background-position:0 center;
			padding-left:16px;
			margin-left:5px;
			color:#029d4f;
			display:inline-block;
		}
		table.posts tr.s:hover td { background-color:#a4ffc2; }
		table.posts tr.s td.name span.excerpt { color:#98c1a6; }
		div.manage-posts div.options.filter-flags label.s { background-color:#cfd; }
		div.manage-posts div.options.filter-flags label.s:hover { background-color:#a4ffc2; }
		/* untracked */
		table.posts tr.u td { background-color:#eee; }
		table.posts tr.u:hover td { background-color:#ddd; }
		table.posts tr.u td.name span.title { color:#666; }
		div.manage-posts div.options.filter-flags label.u { background-color:#eee; }
		div.manage-posts div.options.filter-flags label.u:hover { background-color:#ddd; }
		/* removed */
		table.posts tr.r td { background-color:#fcc; }
		table.posts tr.r:hover td { background-color:#fdb8b8; }
		table.posts tr.r td.name span.title { color:#800; }
		table.posts tr.r td.name span.excerpt { color:#e19e9e; }
		table.posts tr.r:hover td.name span.excerpt { color:#ce8181; }
		div.manage-posts div.options.filter-flags label.r { background-color:#fcc; }
		div.manage-posts div.options.filter-flags label.r:hover { background-color:#fdb8b8; }
		/* draft */
		table.posts tr.d td { font-style:italic; }
			table.posts tr.d td span.badge { font-style:normal; }
		div.manage-posts div.options.filter-flags label.d { background-color:#d4ecff; }
		div.manage-posts div.options.filter-flags label.d:hover { background-color:#b1ddff; }
		/* hover fx */
		table.posts tr:hover td { background-color:#eee; }
		/* badges */
		table.posts td span.badge { margin-bottom:3px; }
		table.posts td span.badge.d { background-color:#5faaff; color:#fff; font-style:normal; }
		table.posts td span.badge.u { background-color:#ccc; color:#666; font-style:normal; }
	
	/* manage/comments: */
	table.comments { }
		table.comments td.avatar { padding:0; }
		table.comments p.excerpt { color:#999; margin:2px 0 8px 0; font-size:11px; font-family:'lucida grande',tahoma,sans-serif; }
		table.comments tr:hover { background:#eee; }
		table.comments tr:hover p.excerpt { color:#444; }
		table.comments tr td.info span.badge.spam { background-color:#fdd; color:#c22; }
	
	/* maintenance/git-status: */
	.maintenance-git-status h2 { float:left; padding-right:15px; }


#preview { width:630px; float:left; border-left:1px solid #ccc; padding-left:10px; margin-left:-1px; }
	#preview iframe { width:630px; height:800px; border:none; }

body > address {
	border-top:1px solid #ccc;
	color:#aaa;
	padding:10px;
	font-size:11px;
	margin-top:-1px;
}

/* Relics from old admin ui -- used by wordpress import and setup.php */
div.inputgroup {
	display:block;
	margin-bottom:10px;
	float:left;
	margin-right:10px;
	padding-right:10px;
	width:300px;
	border-right:1px solid #ddd;
}
	div.inputgroup > h4 { font-size:100%; margin-bottom:4px; }
	div.inputgroup > p { margin:6px 0 2px 0; }
	div.inputgroup > p.note { margin-top:2px; font-size:11px; color:#999; }
	div.inputgroup > input { margin:2px 0; }
	div.inputgroup > input[type=text], div.inputgroup > input[type=password] { width:290px; }

/* Errors from gb::$errors */
#gb-errors {
	background-color:#fcc; color:#611; padding:10px; min-height:48px; border-bottom:4px solid #c00;
}
	#gb-errors a { border:none; background:transparent; }
	#gb-errors a.close {
		display:block; float:right;
		width:16px; height:16px;
		background-image:url(../../themes/default/icons16.png);
		background-position:0 -32px;
		background-repeat:no-repeat;
	}
	#gb-errors a.close:hover { background-position:0 -48px; }
	#gb-errors a.close span { display:none; }
	#gb-errors div.icon {
		background-image:url(../../themes/default/icons48.png);
		background-position:0 -48px;
		background-repeat:no-repeat;
		width:48px; height:48px;
		position:absolute;
		top:50px; left:5px;
		z-index:9;
	}
	#gb-errors ul { display:block; margin:0 0 0 50px; padding:0; list-style:none; }
	#gb-errors li { font-size:16px; }
	#gb-errors li.title { font-weight:bold; line-height:1; margin:0.2em 0; }

/* Throbber */
.throbber {
	background-position:0 0;
	background-repeat:no-repeat;
}
.throbber.small {
	width:24px;
	height:24px;
	background-image:url(throbber-small-black.png);
}
.throbber.hidden-while-inactive {
	display:none;
}
div.section div.component .throbber { float:right; margin-top:3px; }

/* Closely related to Git output or semantics */
.git-status {}
	.git-status p.repo-state { border:1px solid #ccc; padding:4px 8px; display:inline-block; margin-top:0; }
	.git-status p.tips { font-size:11px; margin-top:0; color:#888; display:inline-block; border:1px solid #ddd; padding:4px 8px; margin-left:20px; }
	.git-status ul { list-style-type:none; margin-bottom:10px; }
		.git-status ul { font-family:monospace; }
		.git-status ul.staged li { color:#007a14; }
		.git-status ul.unstaged li { color:#7a3700; }
		.git-status ul.untracked li { color:#2d5381; }
		.git-status ul li.added span.badge { background-color:#71fc84; color:#000; }
		.git-status ul li.modified span.badge { background-color:#fced71; color:#000; }
		.git-status ul li.renamed span.badge { background-color:#ffc664; color:#000; }
		.git-status ul li.deleted span.badge { background-color:#ff9e84; color:#000; }

.git-branch { background-color:#d4fff8; font-weight:bold; color:#203e3e; }
